html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0%; 
    height: 100%;
    width: 100%;
    background-color: gray;
}
    
#leftside{
    width: 31.2%;
    height: 100%;
    float: left;
    background-color: lightyellow;
    overflow: auto;
}

#rightside{
    width: 68%;
    height: 100%;
    float: right;
    background-color: lightyellow;
    margin-left: 1px;
    position: fixed;
    left: 31.2%;
}


#memobars{
    width: 100%;
    height: 100%;
}

#memobar{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: lightyellow;
    border-bottom: solid #808000 1px;
}

li text{
    /* border: solid #000000 1px; */
    text-align: center;
}

#leftside li{
    list-style: none;
}
