html{
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0%; 
    height: 100%;
    width: 100%;
    background-color: GhostWhite;

}

#menubar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    background-color: Silver;
    border: 1px;
}

#new{
    aria-hidden: "true";
}

#delete{
    aria-hidden: "true";
}

#mainbar{
    height: 95%;
    width: 100%;
}

#leftside{
    width: 32%;
    height: 100%;
    float: left;
    overflow: auto;
}

#rightside{
    width: 68%;
    height: 100%;
    float: right;
    margin-left: 1px;
    position: fixed;
    left: 32%;
}


#memobars{
    width: 100%;
    height: 100%;
}

#memobar{
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: solid #808000 1px;
}

li text{
    text-align: center;
}

#leftside li{
    list-style: none;
}
